/*General*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
}

.content {
  min-height: 80vh;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2,
h3,
h4,
p,
li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/*Arrow*/
.arrow {
  position: fixed;
  right: 5vw;
  bottom: 3vh;
  background-color: #353430;
  padding: 5px 15px 10px 15px;
  box-shadow: #272622 2px 2px 4px;
  border-radius: 4px;
}

.arrow span {
  font-size: 25px;
  color: rgb(255, 255, 255);
}

/*Header*/
.header img {
  margin-bottom: 20px;
}

/*Navbar*/
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #272622;
  position: -webkit-sticky; /*Safari*/
  position: sticky;
  top: 0;
}

.navbar li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
}

li a:hover:not(.active),
.active {
  background-color: #111;
}

.tabs {
  margin-left: 3vw;
}

.tabs2 {
  display: none;
}

.tabs2 li {
  width: 100vw;
}

.fa-bars {
  color: #ece8e8;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 62vw;
  font-size: 25px;
}

/*Inner Content General*/
.innerContent {
  width: 80vw;
  margin: 10px auto 10px auto;
}

.innerContent a {
  text-decoration: none;
}

.innerContent a:visited {
  color: #111;
}

/*Footer*/
.footer {
  background-color: #272622;
  margin-top: 50px;
  padding: 15px;
  color: white;
  font-size: small;
  text-align: center;
}

/*Home Page*/
.homePageInnerContent {
  width: 90vw;
  margin: 20px auto 10px auto;
}

.homePageInnerContent a {
  text-decoration: none;
  color: #111;
}

.homePageInnerContent a:visited {
  color: #111;
}

.homePageHeader {
  text-align: center;
  margin-bottom: 30px;
}

.sneakPeeksDiv {
  margin-bottom: 60px;
}

.sneakPeek a {
  text-decoration: none;
  height: fit-content;
  color: #111;
}

.sneakPeek a:visited {
  color: #111;
}

.sneakPeek .miniText {
  text-align: justify;
  margin-bottom: 40px;
}

.miniText :last-child {
  color: #7d7d7d;
}

/*About Me at Home Page*/
.aboutMeSneakPeek {
  margin-bottom: 100px;
}

.aboutMeSneakPeek a {
  text-decoration: none;
  color: #111;
}

.aboutMeSneakPeek a:visited {
  color: #111;
}

.headImg {
  width: 80%;
  height: auto;
  margin: 20px 20px 20px 20px;
}

/*Villi yrttiseikkailu*/
.inThisCaseStudy {
  margin-top: 25px;
  margin-bottom: 60px;
  background-color: #f2e8b0;
  width: fit-content;
  padding: 5px 100px 20px 30px;
  border-radius: 15px;
  /*border: #111 solid 2px;*/
}

.inThisCaseStudy a,
.inThisCaseStudy a:visited {
  color: #111;
  text-decoration: underline;
}

.inThisCaseStudy li {
  margin-bottom: 5px;
}

.projectOverview {
  padding-top: 40px;
  padding-bottom: 40px;
}

.projectOverviewImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.playStoreImg {
  margin: auto;
  width: 80vw;
  height: auto;
}

.villiYrttiImg {
  margin-bottom: 22px;
  margin-top: 23px;
  width: 40vw;
  height: auto;
}

.problem,
.solution,
.wireframes,
.prototypes,
.informationArchitecture,
.usabilityTesting,
.finalDesigns,
.productSuccess {
  padding-top: 40px;
  padding-bottom: 40px;
}

.subHeadline {
  margin-top: 30px;
  margin-bottom: 0px;
}

.learningTheWildHerbs {
  margin-bottom: 40px;
}

.wildHerbImgDiv {
  flex-direction: row;
}

.wildHerbImg {
  width: 30%;
  height: auto;
}

.characterDevelopment {
  margin-bottom: 40px;
}

.characterDevelopment iframe {
  margin: auto 25px auto 0px;
  width: 80vw;
  height: auto;
}

.lookAndFeelDiv {
  margin-bottom: 40px;
}

.lookAndFeelImgDiv {
  display: flex;
  flex: 50%;
  flex-direction: row;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.buttonImg {
  width: 55%;
  height: auto;
  margin: 5px auto 5px auto;
}

.bookBaseImg {
  width: 70%;
  height: auto;
}

.wireframeImg {
  margin-top: 20px;
}

.informationArchitectureImg {
  margin-top: 20px;
}

.prototypesDiv {
  margin-bottom: 40px;
}

.usabilityDiv {
  margin-bottom: 40px;
}

.usabilityDiv:first-of-type {
  margin-bottom: 20px;
}

.usabilityTesting ol {
  margin-bottom: 40px;
}

.usabilityImg2 {
  margin-bottom: 20px;
}

.finalDesignDiv {
  margin-bottom: 40px;
}

.productSuccessTextDiv {
  flex-direction: column;
}

.productSuccessImg2 {
  margin-top: 20px;
}

.whatILearned {
  padding-top: 50px;
  margin-bottom: 100px;
}

/*Ask Binny*/
.inThisCaseStudy2 {
  margin-top: 25px;
  margin-bottom: 60px;
  background-color: #e1e5f4;
  width: fit-content;
  padding: 5px 100px 20px 30px;
  border-radius: 15px;
  /*border: #111 solid 2px;*/
}

.inThisCaseStudy2 a,
.inThisCaseStudy2 a:visited {
  color: #111;
  text-decoration: underline;
}

.inThisCaseStudy2 li {
  margin-bottom: 5px;
}

.binnyLogo {
  margin-top: 20px;
}

.wireframeImgsDiv {
  text-align: center;
}

.wireframeImgsDiv p {
  margin-top: 3px;
}

.askBinnyWireframeImg {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.binnyPrototypeImg {
  margin-bottom: 20px;
  width: 80%;
  margin-left: 10vw;
  margin-right: 10vw;
}

.binnyPrototypeImg2 {
  margin-bottom: 20px;
}

.askBinnyIssueDiv {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.askBinnyIssueDiv p {
  margin-top: 3px;
  text-align: center;
}

.askBinnyUsabilityDiv2 {
  margin-top: 40px;
}

.binnyUsabilityImg2 {
  width: 80%;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10px;
}

.binnyFinalDesignsImg {
  width: 80%;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 20px;
}

.binnyFinalDesignsImg2 {
  margin-bottom: 40px;
}

.binnyTheBin {
  display: none;
}

.askBinnyFeedback {
  margin-top: 20px;
}

/*About me*/
.aboutMeDiv {
  margin-top: 40px;
}

.myExperience {
  margin-top: 40px;
}

.headImg2 {
  width: 90%;
  height: auto;
  margin: 20px 20px 20px 20px;
}

.contactsDiv h3 {
  text-align: center;
  margin-bottom: 5px;
}

.contactsDiv li {
  margin-bottom: 20px;
}

.fa-ul li a,
.fa-ul li a:hover,
.fa-ul li a:visited {
  color: #111;
  text-align: left;
  background-color: transparent;
  text-decoration: underline;
  padding: 0px;
  margin-left: 5px;
}

@media only screen and (min-width: 600px) {
  /*General*/
  /*Arrow*/
  .arrow {
    right: 3vw;
  }

  /*Navbar*/
  .tabs2 {
    margin-left: 63vw;
    display: block;
  }

  .tabs2 li {
    width: auto;
  }

  .fa-bars {
    display: none;
  }

  .icon {
    display: none;
  }

  /*Home Page*/
  .homePageHeader {
    margin-bottom: 60px;
    margin-top: 40px;
  }

  .sneakPeeksDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .sneakPeek {
    width: 43vw;
    display: flex;
  }

  .sneakPeek a {
    display: flex;
  }

  .miniImg {
    width: 60%;
    height: 60%;
  }

  .sneakPeek .miniText {
    flex-direction: column;
    margin-left: 15px;
    text-align: left;
  }

  .miniText h3 {
    margin-top: 0px;
  }

  /*About Me at Home Page*/
  .aboutMeSneakPeek {
    margin-bottom: 100px;
  }

  .aboutMeSneakPeek a {
    display: flex;
    flex-direction: row;
    width: 42vw;
    margin-left: 47vw;
    text-decoration: none;
  }

  .aboutMeSneakPeek h3 {
    margin-top: 0px;
  }

  .headImg {
    width: 35%;
    height: 35%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
  }

  /*Villi yrttiseikkailu*/
  .projectOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .overview {
    width: 70%;
  }

  .projectOverviewImgDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .playStoreImg {
    width: 35vw;
  }

  .villiYrttiImg {
    width: 10vw;
  }

  .myRole {
    width: 20%;
  }

  .learningTheWildHerbs {
    display: flex;
  }

  .learningTheWildHerbsText {
    flex-direction: column;
    flex: 40%;
  }

  .wildHerbImgDiv {
    flex-direction: row;
    flex: 50%;
    margin-left: 35px;
  }

  .wildHerbImg {
    width: 30%;
    height: auto;
  }

  .characterDevelopment {
    display: flex;
    flex-direction: row-reverse;
  }

  .characterDevelopment iframe {
    width: 50vw;
    height: 50vh;
    margin-right: 25px;
  }

  .characterDevelopmentTextDiv {
    flex-direction: column;
    width: 40%;
  }

  .lookAndFeelDiv {
    display: flex;
    flex-direction: row;
  }

  .lookAndFeelTextDiv {
    flex-direction: column;
    flex: 40%;
  }

  .finnishEnvironment {
    display: flex;
    flex-direction: row-reverse;
  }

  .finnishEnvironmentImg {
    width: 60%;
    height: auto;
    margin-right: 25px;
  }

  .finnishEnvironmentText {
    flex-direction: column;
  }

  .wireframeImgDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .wireframeImg {
    width: 45%;
    height: auto;
    margin-top: 20px;
  }

  .prototypesDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }

  .prototypesDiv2 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 40px;
  }

  .prototypeImg {
    width: 50%;
    height: 50%;
    margin-left: 25px;
    margin-top: 30px;
  }

  .prototypeBookImg {
    margin: auto 35px auto auto;
    width: 40%;
    height: auto;
  }

  .usabilityDiv {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 40px;
  }

  .usabilityDiv2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }

  .usabilityDiv:first-of-type {
    margin-bottom: 20px;
  }

  .usabilityTextDiv {
    flex-direction: column;
    margin-left: 25px;
  }

  .usabilityTesting ol {
    margin-bottom: 40px;
  }

  .usabilityTextDiv2 {
    flex-direction: column;
    margin-right: 25px;
  }

  .usabilityImg {
    width: 65%;
    height: auto;
  }

  .usabilityImg2 {
    width: 35%;
    height: auto;
    margin-bottom: 0px;
  }

  .usabilityImg3 {
    width: 35%;
    height: auto;
    margin-left: 25px;
  }

  .finalDesignDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: space-between;
  }

  .finalDesignTextDiv {
    flex: 2;
  }

  .finalDesingsImgDiv {
    flex: 3;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .productSuccess {
    display: flex;
    flex-direction: row;
  }

  .productSuccessTextDiv {
    flex-direction: column;
  }

  .productSuccessImg2 {
    width: 40%;
    height: auto;
    margin-left: 40px;
  }

  .whatILearned {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .whatILearnedTextDiv {
    flex-direction: column;
    width: 60%;
  }

  /*Ask Binny*/
  .binnyLogo {
    width: 70%;
    height: auto;
    margin-top: 40px;
  }

  .uiAndUxDesign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .uiAndUxDesignText {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .uiAndUxDesignImg {
    width: 70%;
  }

  .wireframeImgsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
  }

  .askBinnyWireframeImg {
    display: flex;
    flex-direction: column;
    width: 22%;
  }

  .binnyPrototypeImg {
    width: 20%;
    height: auto;
    margin-left: 25px;
  }

  .binnyPrototypeImg2 {
    width: 60%;
    height: auto;
    margin-right: 25px;
    margin-top: -30px;
  }

  .binnyPrototypeImg {
    width: 20%;
    height: auto;
    margin-left: 25px;
    margin-right: 0px;
  }

  .binnyPrototypeImg2 {
    width: 60%;
    height: auto;
    margin-right: 25px;
    margin-top: -30px;
  }

  .askBinnyUsabilityImgsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .askBinnyIssueDiv {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 0px;
  }

  .askBinnyIssueDiv p {
    text-align: left;
  }

  .askBinnyUsabilityDiv2 {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }

  .askBinnyUsabilityText {
    display: flex;
    flex-direction: column;
  }

  .binnyUsabilityImg2 {
    width: 25%;
    height: auto;
    margin-left: 50px;
    margin-right: 20px;
  }

  .askBinnyFinalDesignsImgDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .binnyFinalDesignsImg {
    width: 23%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .finalDesignImgs {
    display: flex;
    justify-content: center;
    flex: 3;
  }

  .askBinnyFinalDesignDesktopDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .askBinnyFinalDesignText {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-right: 25px;
  }

  .binnyFinalDesignsImg2 {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .binnyTheBin {
    width: 35%;
    height: auto;
    display: block;
  }

  .askBinnyFeedback {
    width: 45%;
    height: 50%;
    margin-top: 20px;
  }

  /*About Me*/
  .aboutMeDiv {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
  }

  .aboutMeTextDiv {
    flex-direction: column;
    width: 55%;
    margin-right: 10vw;
  }

  .myExperience {
    margin-top: 40px;
  }

  .headImg2 {
    width: 70%;
    height: auto;
    margin: 10px auto 20px auto;
  }

  .contactsDiv {
    display: flex;
    flex-direction: column;
    width: 35%;
  }

  .contactsDiv h3 {
    text-align: center;
    margin-bottom: 5px;
  }

  .contactsDiv li {
    margin-bottom: 20px;
  }
}
